body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    font-family: 'Poppins', sans-serif;
    background: url("https://source.unsplash.com/random/1920x1800/?clouds") repeat 0 0;
    -webkit-animation: slide 1000s linear infinite;
}
@-webkit-keyframes slide {
    from { background-position: 0, 0;} 
    to {background-position: -1920px, 0;}
}
.card {
    background: #000000a0;
    color: whitesmoke;
    padding: 1em;
    border: whitesmoke solid 1vh;
    border-radius: 30px;
    width: 100%;
    max-width: 330px;
    margin: 0;
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

}
.searchBar{
    border-radius: 4px;
    width:120px;
    padding: .75em;
    border: none;
    outline: none;
    background-color: rgba(30, 29, 29, 0.726);
    color: whitesmoke;
    font-family: inherit;
    font-size: medium;
}
button{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    color: white;
    background-color: #00000000;
    font-size: 1.5em;
    transition: .5s
}
button:hover{
    color: greenyellow;
    transition: .5s;
}
h1{
    display: flex;
    font-size: 3.5em;
    margin:0;
    align-items: center;

}
.weather{
    margin-left:.5em;
    margin-right:.5em;
}
.pretty{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}
.hiLow{
    padding-top:2em;
    list-style-type: none;
    padding:0;
    padding-top:2em;
    font-size: small;
    color: #f0ecec9e;
}
.cityTime{
    display: flex;
    justify-content: space-between;
}
h4{
    display: flex;
    color: #f0ecec9e;
    align-items: center;
}
.futureWeather{
    display: flex;
    justify-content: space-evenly;
}
.weekday1{
    display: flex;
    justify-content: center;
}
.weekday2{
    display: flex;
    justify-content: center;
}
.weekday3{
    display: flex;
    justify-content: center;
}